/* Estilo base: mobile-first (até 480px) */
/* ----------------------------------ALL---------------------------------- */
body {
  background-color: #fff;
  padding: 1rem;
}

.section-title,
.navbar__link:hover,
.hero__title,
.project-card__button a:hover {
  color: rgb(190, 124, 0);
}

header,
main,
main section {
  margin-bottom: 2rem;
}

p {
  text-indent: 1.5rem;
  line-height: 1.5;
}

p,
.hero__subtitle {
  hyphens: auto;
}

.hero__content,
.hero__image {
  padding-top: 1rem;
}

.section-title {
  font-size: 1.5rem;
}

.section-title,
.footer__socials {
  margin-bottom: 1.25rem;
}

.navbar,
.footer {
  width: 100%;
}

.hero,
.projects__grid,
.project-card__techs,
.project-card__button,
.skills__grid,
.footer__socials {
  display: flex;
}

.hero__buttons,
.project-card__image,
.project-card__title {
  justify-self: center;
}

.hero__subtitle,
.project-card__title {
  font-size: 1.25rem;
}

.btn button,
.project-card__description,
.project-card__button {
  font-size: 1rem;
}

.projects__grid,
.project-card__techs,
.skills__grid {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 0.5rem;
}

.btn button:hover,
.project-card__button a:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

.projects__grid,
.skills__grid,
.footer__socials {
  justify-content: space-evenly;
}

.project-card,
.skills__item {
  border: 1px solid rgb(190, 124, 0);
  padding: 0.3rem;
  flex: 0 0 auto; /* Faz o card NÃO encolher, e ficar do tamanho que você definir */
  scroll-snap-align: start; /* faz o card "grudar" certinho no começo ao rolar */
}

.btn button,
.skills__item {
  border-radius: 10px;
}

.project-card__techs img,
.skills__item {
  margin-right: 1rem;
}

.project-card__techs,
.footer__socials {
  align-items: center;
}

.skills__item img,
.footer__socials {
  height: 6.25rem;
}

.hero__image,
.tooltip {
  position: relative;
}

.project-card__techs img,
.tooltip > a > img {
  height: auto;
}

/* ----------------------------------HEADER---------------------------------- */
/* NAVBAR */
.navbar {
  display: none;
}

/* HERO */
.hero {
  margin-bottom: 3rem;
  justify-content: space-between;
}

.hero__content {
  width: 70%;
}

.hero__title {
  font-weight: bold;
  font-size: 2rem;
}

.hero__subtitle {
  margin-block: 1rem;
}

.btn button {
  width: 10rem;
  margin-block: 0.5rem;
  padding: 0.5rem;
  font-weight: 500;
  background-color: rgb(190, 124, 0);
  cursor: pointer;
}

.btn button:hover {
  box-shadow: 0 0 8px rgba(190, 123, 0, 0.493);
}

.hero__image {
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: -1rem;
  }

  100% {
    top: 1rem;
  }
}

.hero__image > img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

/* ----------------------------------MAIN---------------------------------- */
/* ABOUT */
.about__text {
  font-size: 1.15rem;
}

/* PROJECTS */
.project-card {
  background-color: rgba(190, 123, 0, 0.027);
  border-radius: 20px;
  margin-right: 1.5rem;
  width: 15rem;
  height: 30rem;
  position: relative;
}

.project-card__image > img {
  height: 7.5rem;
  width: auto;
  object-fit: contain;
}

.project-card__title {
  margin-bottom: 0.25rem;
}

.project-card__description {
  height: 11rem;
}

.project-card__techs {
  justify-content: start;
  margin-block: 0.75rem;
}

.project-card__techs img {
  padding: 0.313rem;
  border: 1px solid #333;
  width: 3.125rem;
}

.project-card__button {
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 1rem;
}

/* ----------------------------------FOOTER---------------------------------- */
.tooltip {
  display: inline-block;
}

.tooltip > a > img {
  width: 3.25rem;
}

.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.75rem;
  white-space: nowrap;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Tablet (481px a 768px) */
@media (min-width: 481px) {
  /* ----------------------------------HEADER---------------------------------- */
  /* HERO */
  .hero__content {
    width: 75%;
  }

  .hero__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .hero__image > img {
    width: 7.5rem;
    height: 7.5rem;
  }
}

/* Tablet (769px a 1024px) */
@media (min-width: 769px) {
  /* ----------------------------------ALL---------------------------------- */
  .navbar__links,
  .hero {
    align-items: center;
  }

  /* ----------------------------------HEADER---------------------------------- */
  /* NAVBAR */
  .navbar {
    display: inline;
    background-color: #fff;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navbar__links {
    display: flex;
    justify-content: center;

    gap: 2rem;
  }

  .navbar__link {
    color: #333;
    font-size: 1.1rem;
    transition: color 0.3s;
  }

  .navbar__link:hover {
    transform: scale(1.05);
    transition: 0.2s;
  }

  /* HERO */
  .hero {
    padding: 7.813rem 0.313rem 0.313rem 0.313rem;
    margin-bottom: 3.125rem;
  }

  .hero__title {
    font-size: 3.438rem;
  }

  .hero__subtitle {
    margin-block: 2.188rem;
  }

  .hero__buttons {
    justify-content: space-evenly;
  }

  .btn button {
    padding: 0.625rem;
  }

  .hero__image > img {
    width: 15.625rem;
    height: 15.625rem;
  }
}

/* Desktop (1025px a 1657px) */
@media (min-width: 1025px) {
  /* ----------------------------------ALL---------------------------------- */
  header,
  main,
  main section {
    margin-bottom: 3.125rem;
  }

  main {
    width: 90vw;
    margin: auto;
  }

  .section-title {
    font-size: 2.2rem;
  }

  .about,
  .projects,
  .skills {
    padding: 0.313rem;
    scroll-margin-top: 5.75rem; /* altura da navbar */
  }

  /* ----------------------------------HEADER---------------------------------- */
  /* HERO */
  .hero {
    justify-content: center;
    gap: 10rem;
  }

  .hero__content {
    width: 50%;
  }

  .hero__buttons {
    padding: 1rem;
  }

  .btn button {
    width: 15rem;
    padding: 1rem;
    font-size: 1.125rem;
  }

  /* ----------------------------------MAIN---------------------------------- */
  /* ABOUT */
  .about__text {
    text-indent: 0.938rem;
    line-height: 1.5;
  }

  /* PROJECTS */
  .project-card {
    padding: 0.313rem;
    width: 18.75rem;
    height: 33.125rem;
  }

  .project-card__image > img {
    height: 12.5rem;
  }

  .project-card__title {
    font-size: 1.408rem;
    margin-block: 0.313rem;
  }

  .project-card__description {
    padding: 0.313rem;
    text-indent: 1.563rem;
    height: 9.688rem;
    line-height: 1.4;
  }

  /* ----------------------------------FOOTER---------------------------------- */
  .footer {
    padding: 0.313rem 5.001%;
  }
}

/* Desktop (1441px ou mais) */
@media (min-width: 1441px) {
  /* ----------------------------------HEADER---------------------------------- */
  /* HERO */
  .hero__content {
    width: 28%;
  }
}
